In [1]:
#String
str1='Nihar'

#List
list1=[1,"Nihar",1.2]

#Float
f1=1.2

#Tuple
tup1=(1,"Nihar",1.2)

In [2]:
#Datatype of var1 is str
#Datatype of var2 is str
#Datatype of var3 is list
#Datatype of var4 is int

In [4]:
# By using slash(/) operator we get the quotient of two numbers
a=10
b=5
quotient=a/b
print(quotient)

# By using modulus(%) operator we get the remainder of two numbers
c=10
d=5
r=c/d
print(r)

# By using double slash(//) operator we get the division floor of two numbers
e=12
f=5
df = e//f
print(df)

# By using double star(**) operator we get the power of two numbers
g=4
h=2
p=g**2
print(p)

2.0
2.0
2
16

In [5]:
l1=[1,2,"Nihar",1+2j,1.2,"Ranjan",7,8.1,9,10.1]
for i in l1:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
Nihar
<class 'str'>
(1+2j)
<class 'complex'>
1.2
<class 'float'>
Ranjan
<class 'str'>
7
<class 'int'>
8.1
<class 'float'>
9
<class 'int'>
10.1
<class 'float'>

In [6]:
A=int(input())
a=A
B=int(input())
c=0
while A % B == 0:
    c +=1
    A /= B
    
if c>0:
    print(f"{a} purely divided by {B} and it can be divisible upto {c} times")
    
else:
    print(f"{a} cannot be divided by {B}")

 100
 2

100 purely divided by 2 and it can be divisible upto 2 times

In [7]:
L = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in L:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [8]:
# In mutable datatypes we can change or mpdify a particular variable with same reference address

my_list = [1, 2, 3]
my_list.append(4)    # This adds a new element to the existing list
my_list[0] = 0       # This modifies an element of the existing list
print(my_list)       # Output: [0, 2, 3, 4]

# In imutable datatypes we cannot change or modify the object

s = "hello"
s += " world"   # This creates a new string object with value "hello world", but does not modify the original object
print(s)        # Output: "hello world"

[0, 2, 3, 4]
hello world

In [9]:
# In mutable datatypes we can change or mpdify a particular variable with same reference address

my_list = [1, 2, 3]
my_list.append(4)    # This adds a new element to the existing list
my_list[0] = 0       # This modifies an element of the existing list
print(my_list)       # Output: [0, 2, 3, 4]

# In imutable datatypes we cannot change or modify the object

s = "hello"
s += " world"   # This creates a new string object with value "hello world", but does not modify the original object
print(s)        # Output: "hello world"

[0, 2, 3, 4]
hello world